* {
  font-family: "Zen Kaku Gothic New", sans-serif;
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 75vh;
  margin-top: 10vh;
}

.to-do-list {
  background-color: #4d0083;
  /* border: 2px solid black; */
  border-radius: 6px;
  padding: 2rem;
  min-width: 400px;
  height: 100%;
}

.title {
  border-bottom: 0.05px solid #e1fbff;
  color: #6ae9ff;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.form {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.form-input,
.form-date-time,
.form-button {
  padding: 0.5rem;
  font-size: 1rem;
}

.form-input {
  outline: none;
  background-color: #ffffff;
  border-radius: 3px;
}
.form-input:focus {
  font-weight: 600;
  color: #4d0083;
}

.form-date-time {
  margin-left: 0.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #4d0083;
  background-color:#fcf9ff;
  border-radius: 3px;
}

.form-button {
  background: #f8ff3b;
  letter-spacing: 0.5px;
  border-radius: 3px;
  color: #4d0083;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.25rem;
}

.form-button:hover {
  color: #4d0083;
  background: #7ffa1a;
  scale: 1.025;
}

.content-data {
  color: #f6f1d1;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-weight: 800;
}

.list {
  list-style: none;
  width: 100%;
  margin-top: 1rem;
  height: 75%;
  overflow: hidden;
  overflow-y: auto;
}

.task {
  background-color: #8c4ce6;
  border-radius: 3px;
  color: #f7f7ff;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

.check-button,
.delete-button {
  font-weight: 500;
  color: #2e004f;
  padding: 0.05rem 0.3rem;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.delete-button {
  background-color: #ff936c;
}
.delete-button:hover {
  background-color: red;
}

.check-button {
  margin-left: 0.5rem;
  background-color: #7ffa1a;
}
.check-button:hover {
  background-color: #f8ff3b;
  scale: 1.025
}

.done .content {
  text-decoration: line-through;
  font-weight: 400;
  color: rgb(165, 165, 165);
}
